$font: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;

html,
body {
  font-family: $font;
  height: 100%;
}

// NOT WORKING.
@media all and (display-mode: standalone) {
  section.launch .instruction {
    display: none;
  }
}

$li-h: 1.3rem;
$border: 1px;
$corner: 2px;
$offblack: #292929;
$offblack2: #191919;
$gray: #696969;
$red: #f44336;
$green: #66bb6a;
$sections: (
  new-version,
  auth,
  launch,
  start,
  selections,
  reveal,
  actions,
  results
);

* {
  font-family: $font;
  font-weight: 300;
}
strong {
  font-weight: 500;
}

body {
  background-color: black;
  background-image: url(/icon.png);
  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
body .container {
  position: relative;
  width: 100%;
  height: 100%;
  > div {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 480px;
    // max-width: 380px;
    max-height: 700px;
    // max-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    position: absolute;
    display: none;
    transform: scale(50%) translateX(-100%);
  }

  > div.active-new-version {
    section.new-version,
    section.auth {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.new-version {
      transform: translateY(0);
    }
    section.auth {
      transform: translateY(100%);
    }
  }
  > div.active-auth {
    section.new-version,
    section.auth,
    section.launch {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.new-version {
      transform: translateY(-100%);
    }
    section.auth {
      transform: translateY(0);
    }
    section.launch {
      transform: translateY(100%);
    }
  }
  > div.active-launch {
    section.auth,
    section.launch {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.auth {
      transform: translateY(-100%);
    }
    section.launch {
      transform: translateY(0);
    }
    section.start {
      transform: translateX(100%);
    }
    section.selections {
      transform: translateY(100%);
    }
  }
  > div.active-start {
    section.start {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.launch {
      transform: translateY(-100%);
    }
    section.start {
      transform: translateX(0);
    }
    section.selections {
      transform: translateY(100%);
    }
  }
  > div.active-selections {
    section.results,
    section.start,
    section.selections,
    section.reveal {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.results {
      transform: translateX(-100%);
    }
    section.launch,
    section.start {
      transform: translateY(-100%);
    }
    section.selections {
      transform: translateY(0);
    }
    section.reveal {
      transform: translateX(100%);
    }
  }
  > div.active-reveal {
    section.selections,
    section.reveal,
    section.actions {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.selections {
      transform: translateX(-100%);
    }
    section.reveal {
      transform: translateX(0);
    }
    section.actions {
      transform: translateX(100%);
    }
  }
  > div.active-actions {
    section.reveal,
    section.actions,
    section.results {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.reveal {
      transform: translateX(-100%);
    }
    section.actions {
      transform: translateX(0);
    }
    section.results {
      transform: translateX(100%);
    }
  }
  > div.active-results {
    section.actions,
    section.results,
    section.selections {
      display: flex;
      transition: transform 250ms ease-in-out;
    }
    section.actions {
      transform: translateX(-100%);
    }
    section.results {
      transform: translateX(0);
    }
    section.selections {
      transform: translateX(100%);
    }
  }
}

section {
  * {
    margin: 0;
  }
  color: white;
  background: black;
  flex-direction: column;
  form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header {
  }
  main {
    flex: 1;
    padding: 0.5rem 0;
    > *:not(:empty) ~ * {
      margin-top: 0.5rem;
    }
    &.inactive {
      p.description,
      p.description + p,
      p.description + p + ul,
      footer {
        opacity: 0.5;
      }
      pointer-events: none;
      cursor: default;
    }
  }
  footer {
  }
  h1 {
    font-size: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: $border solid;
    position: relative;
    transform: translateZ(0);
    .status {
      font-weight: 500;
    }
    .info {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0.25rem;
    }
  }
  p {
    &.secret,
    &.topics {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      + * {
        margin-top: 0;
      }
    }
    &.topics {
    }
    &.label {
      font-size: 0.8rem;
      &:not(:empty) + * {
        margin-top: 0.125rem;
      }
    }
    &.description {
      font-size: 0.8rem;
    }
    &.instruction {
      font-size: 0.8rem;
      color: $gray;
    }
  }
  span.role,
  span.points {
    font-weight: 500;
  }
  .item-group {
    display: flex;
    align-content: center;
    justify-content: center;
    input {
      flex: 1;
    }
    button {
      flex: none;
      &.flex {
        flex: 1;
      }
    }
    > * {
      // flex: 1;
      width: auto;
      + * {
        margin-top: 0;
        margin-left: 0.5rem;
      }
    }
  }
}

ul.hint-list {
  list-style: square inside;
  margin-top: 0.5rem !important;
  li {
    line-height: 1rem;
    height: 1rem;
    border: none;
    padding: 0;
  }
}
ul.flex-list {
  display: flex;
  flex-wrap: wrap;
  &.flex-list-small {
    li {
      $size: $li-h * 0.75;
      line-height: $size;
      height: $size;
      font-size: 0.7rem;
      span.user,
      span.score,
      span.votes {
        line-height: $size;
      }
      span.user {
        height: $size;
        padding-left: $size + 0.25rem;
        img {
          height: $size;
          width: $size;
        }
      }
    }
  }
  &.flex-list-selections {
    li {
      flex-basis: 100%;
      margin-top: 0.25rem;
      &:nth-child(odd) {
        background: rgba(255, 255, 255, 0.1);
      }
      &:nth-child(even) {
        background: rgba(255, 255, 255, 0.05);
      }
      .selection {
        position: absolute;
        top: 0;
        right: 0;
        background: black;
      }
    }
  }
  &.flex-list-half {
    li {
      flex-basis: calc(50% - 0.25rem);
      &:nth-child(odd) {
        margin-right: 0.125rem;
      }
      &:nth-child(even) {
        margin-left: 0.125rem;
      }
      &:not(:nth-child(1)):not(:nth-child(2)) {
        margin-top: 0.25rem;
      }
    }
  }
  &.flex-list-quarter {
    li {
      flex-basis: calc(25% - 0.1875rem);
      &:nth-child(4n + 2),
      &:nth-child(4n + 3),
      &:nth-child(4n + 4) {
        margin-left: 0.25rem;
      }
      margin-top: 0.25rem;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 0;
      }
    }
  }
  &.flex-list-large {
    li {
      $size: $li-h * 1.5;
      line-height: $size;
      height: $size;
      font-size: 0.9rem;
      span.user {
        line-height: $size;
        height: $size;
        padding-left: $size + 0.25rem;
        img {
          height: $size;
          width: $size;
        }
      }
    }
  }
  &:not(.flex-list-half):not(.flex-list-quarter):not(.flex-list-selections) {
    li {
      flex-basis: calc(33.33% - 0.166666667rem);
      &:nth-child(3n + 2) {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
      }
      &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
        margin-top: 0.25rem;
      }
    }
  }
  li + li {
    margin-top: 0;
  }
}
p,
ul,
h1,
h2,
li {
  &:empty {
    display: none !important;
  }
}
p {
  letter-spacing: 0.03125em;
  line-height: 1.4;
  &:not(:empty) ~ * {
    margin-top: 0.5rem;
  }
}

section.new-version,
section.auth,
section.launch {
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
section.new-version,
section.auth {
  text-align: center;
  h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.25rem;
    border: none;
  }
}
section.auth {
  color: black;
  background: white;
  .firebaseui-auth {
    margin-top: 0;
    .mdl-shadow--2dp {
      box-shadow: none;
    }
    .firebaseui-container {
      max-width: 310px;
      .firebaseui-recaptcha-wrapper {
        width: 100%;
        .firebaseui-recaptcha-container > div > div {
          transform-origin: 25% 0;
        }
      }
    }
    .firebaseui-title {
      font-size: 1rem;
      font-weight: 300;
      color: black;
      padding: 0;
      margin: 0;
    }
    .firebaseui-card-header {
      padding: 0 !important;
      border: none;
      margin-bottom: 0;
    }
    .firebaseui-card-content {
      padding: 0;
    }
    .firebaseui-card-actions {
      padding: 0 0 24px;
    }
    .firebaseui-card-footer {
      padding: 0;
    }
    button {
      width: auto;
    }
    ul li.firebaseui-list-item {
      height: auto;
      line-height: auto;
      overflow: visible;
    }
  }
}
section.launch {
  text-align: center;
  a {
    background: transparent;
    text-decoration: none;
    padding: 0;
    color: $gray;
  }
  button + p {
    margin: 1rem 0 0;
  }
  .user-info {
    margin-bottom: 2rem;
    button {
      position: relative;
      padding: 0;
      width: auto;
      display: inline-block;
      background: transparent;
      border: none;
      &::after {
        content: 'Edit';
        position: absolute;
        font-size: 0.7rem;
        left: 0;
        width: 100%;
        top: 100%;
        text-align: center;
        line-height: 1rem;
        color: $gray;
      }
    }
    img {
      display: block;
      height: auto;
      width: 4rem;
      margin: 0 auto;
    }
    span {
      display: inline-block;
      margin-top: 0.25rem;
    }
  }
  .editor {
    position: fixed;
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    background: black;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &.active {
      transform: translateY(0);
    }
    li,
    button {
      padding: 0;
      height: auto;
    }
    li button {
      display: block;
      width: 100%;
      border: none;
    }
    img {
      vertical-align: middle;
    }
    .item-group {
      margin-top: 2rem;
      flex-wrap: wrap;
      input,
      button {
        display: block;
        box-sizing: border-box;
        width: calc(50% - 0.25rem);
        flex-basis: calc(50% - 0.25rem);
      }
      &::before {
        content: 'Change your Name (8 Character Max)';
        display: block;
        flex-basis: 100%;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
    }
    ul {
      &::before {
        content: 'Select an Avatar';
        display: block;
        flex-basis: 100%;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      li {
        opacity: 0.5;
        box-sizing: border-box;
        border: $border solid #fff;
        &.active {
          opacity: 1;
        }
        flex-basis: calc(16.666666667% - 0.25rem);
        &:nth-child(6n + 2),
        &:nth-child(6n + 3),
        &:nth-child(6n + 4),
        &:nth-child(6n + 5),
        &:nth-child(6n + 6) {
          margin-left: 0.3rem;
        }
        margin-top: 0.3rem;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin-top: 0;
        }
      }
    }
  }
}

section.actions {
  li {
    label {
      display: block;
      position: relative;
      cursor: pointer;
      background: $offblack;
      width: 100%;
      height: 100%;
      .selection {
        top: 0;
        left: $li-h * 1.2;
        right: 0;
        position: absolute;
        font-size: 0.7rem;
        line-height: $li-h;
        height: $li-h;
        background: $offblack;
        animation: pulse-selection 3s ease-in-out alternate infinite;
      }
    }
    input {
      position: absolute;
      top: 50%;
      left: 0.75rem;
      z-index: 1;
      transform: translate(-50%, -50%);
      + label {
        z-index: 2;
      }
      &:checked {
        + label,
        + label .user,
        + label .selection {
          background: white;
          color: black;
        }
      }
    }
  }
}

@keyframes pulse-selection {
  0%,
  45% {
    opacity: 0;
  }
  55%,
  100% {
    opacity: 1;
  }
}

$win: 6;
$lose: 10;
section.results {
  @for $i from 1 through $win {
    &.win-#{$i}::before {
      background-image: url(/assets/win-#{$i}.gif);
    }
  }
  @for $i from 1 through $lose {
    &.lose-#{$i}::before {
      background-image: url(/assets/lose-#{$i}.gif);
    }
  }
  &[class*='win-'],
  &[class*='lose-'] {
    background: transparent !important;
    &::before {
      filter: grayscale(50%) brightness(40%);
      z-index: -1;
      // background-blend-mode: difference;
      background-color: black;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
    }
    p.instruction {
      color: white;
    }
    * {
      text-shadow: 1px 1px 4px black;
    }
    button,
    img {
      box-shadow: 0px 2px 4px black;
    }
    button {
      background: white;
      color: black;
      text-shadow: none;
      &.warning {
        background: $red;
        color: white;
      }
    }
  }
}

.hide {
  display: none !important;
}

button,
input[type='text'] {
  display: inline-block;
  width: auto;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.25rem 1rem;
  box-sizing: border-box;
  border: none;
  font-family: $font;
  font-weight: 300;
  color: white;
}
input[type='text'] {
  background-color: $offblack2;
  border-radius: 0;
  border: $border solid $offblack;
  border: none;
  border-bottom: $border solid white;
  &.full {
    width: 100%;
  }
  &.margin {
    margin: 1rem 0;
  }
}
button {
  border-radius: $corner;
  text-align: center;
  border: $border solid white;
  background-color: transparent;
  &.full {
    width: 100%;
  }
  &.warning {
    border-color: $red;
    color: $red;
  }
  appearance: none;
  cursor: pointer;
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
  &.small {
    display: inline-block;
    width: initial;
    font-size: 0.8rem;
  }
  &.link {
    background: transparent;
    border: none;

    padding: 0;
    color: $gray;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  filter: grayscale(20%);
}

ul,
ol {
  list-style: none;
  padding: 0;
  li {
    line-height: $li-h;
    height: $li-h;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    position: relative;
    font-size: 0.8rem;
    letter-spacing: 0.03125em;
    + li {
      margin-top: 0.25rem;
    }
    &.empty {
      border: none;
      text-transform: none;
      color: $gray;
      // font-style: italic;
    }
    span.score,
    span.votes {
      position: absolute;
      top: 0;
      right: $li-h * 0.25;
      line-height: $li-h;
      text-align: right;
    }
    span.user {
      line-height: $li-h;
      height: $li-h;
      width: 100%;
      position: relative;
      padding-left: $li-h + 0.25rem;
      display: block;
      box-sizing: border-box;
      color: white;
      // background: $offblack;
      &.you {
        font-weight: 500;
        ~ * {
          font-weight: 500;
        }
      }
      &.dead {
        text-decoration: $red line-through;
        // background: $red;
        // color: white;
        // ~ * {
        //   color: white;
        // }
      }
      img {
        height: $li-h;
        width: $li-h;
        position: absolute;
        top: 0;
        left: 0;
      }
      span {
        display: inline-block;
      }
    }
  }
}
button + button,
button + input {
  margin-top: 0.5rem;
}

span.imposter,
span.agent {
  animation: glow 250ms ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
